<a href="https://colab.research.google.com/github/Ambaright/ST-554-Project1/blob/main/ST554_Project_1_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ST 554 Project 1: Task 2
Programmed by: Amanda Baright

## Introduction

Here I will type up a report style introduction to the data and an introduction to the task.

## Reading in the Data

In this section, I will read in the [Air Quality Data](https://archive.ics.uci.edu/dataset/360/air+quality) and extract the features into a saved DataFrame `air`. I then investigate the data to understand how it is stored using `.head()` and `.info()` methods. Then after investigating the raw data we can begin to start some data cleaning.

In [20]:
# Install ucimlrepo if you haven't already
#!pip install ucimlrepo

from ucimlrepo import fetch_ucirepo

# Fetch dataset
air_quality = fetch_ucirepo(id=360)

# Extract the Features
air = air_quality.data.features
print(air.head())

        Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0  3/10/2004  18:00:00     2.6         1360       150      11.9
1  3/10/2004  19:00:00     2.0         1292       112       9.4
2  3/10/2004  20:00:00     2.2         1402        88       9.0
3  3/10/2004  21:00:00     2.2         1376        80       9.2
4  3/10/2004  22:00:00     1.6         1272        51       6.5

   PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)  \
0           1046      166          1056      113          1692         1268
1            955      103          1174       92          1559          972
2            939      131          1140      114          1555         1074
3            948      172          1092      122          1584         1203
4            836      131          1205      116          1490         1110

      T    RH      AH
0  13.6  48.9  0.7578
1  13.3  47.7  0.7255
2  11.9  54.0  0.7502
3  11.0  60.0  0.7867
4  11.2  59.6  0.7888

In [19]:
# Summary of DataFrame
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   int64
 4   NMHC(GT)       9357 non-null   int64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   int64
 7   NOx(GT)        9357 non-null   int64
 8   PT08.S3(NOx)   9357 non-null   int64
 9   NO2(GT)        9357 non-null   int64
 10  PT08.S4(NO2)   9357 non-null   int64
 11  PT08.S5(O3)    9357 non-null   int64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
dtypes: float64(5), int64(8), object(2)
memory usage: 1.1+ MB